*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*index*/
/*nav bar*/
/*propiedades del padre*/
.containerMenu{
    position: fixed;
    top: 0;
    background-color: rgb(253, 253, 253);
    width: 100vw;
    height: 6rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Hubballi', sans-serif;
    padding: 0rem 3.5rem;
}
/*propiedades del hijo*/
nav ul li{
    display: inline-block;    
    list-style: none;
    z-index: 1;
    font-size: 1.3rem; 
    margin: 2rem;
}
.submenu li{
    margin: 1rem;
}
.containerMenu .menu .submenu li a{
    display: inline-block;
}
.menu a, .submenu a{
    text-decoration: none;
    color: black; 
}
.menu a:hover{
    color: #CBB5F5;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    background-color: rgb(253, 253, 253);
    border-top: #CBB5F5 solid;
    margin-top: .15rem;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.indexTitle{
    font-family: 'Hubballi', sans-serif;
    background-color: lavender;
    margin: 6rem 0 0 0;
    padding: .625rem;
    text-align: center;
    text-transform: uppercase;
    color: #CBB5F5;
}
.indexTitle span{
    font-weight: lighter;
}

/*bio index*/
/*propiedades del padre*/
/*.gridIndex{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header        header        header        header        header"
                         "bannerIn      bannerIn      bannerIn      bannerIn      bannerIn"
                         "bioI          bioIn         bioIn         bioIn         bioIn"
                         "productosIn   productosIn   productosIn   productosIn   productosIn"
                         "portafolioIn  portafolioIn  portafolioIn  portafolioIn  portafolioIn"
                         "footer        footer        footer        footer        footer";
}
/*propiedades de las areas*/
/*
header{
    grid-area: header;
}
.banIndex{
    grid-area: bannerIn;
}
.bioIndex{
    grid-area: bioIn;
}
.productosIndex{
    grid-area: productosIn;
}
.portafolioIndex{
    grid-area: portafolioIn;
}
footer{
    grid-area: footer;
}
*/



/*contacto*/

.mainContacto{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/mandalaA.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*propiedades del padre*/
.formulario{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

/*propiedades del hijo*/
.contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    font-family: 'Hubballi', sans-serif;
    font-size: 2rem;
    width: 70%;
}
.contacto input, .contacto textarea{
    padding: 1rem;
    font-size: 1.1rem;
    border: #CBB5F5 solid .1rem;
}
.contacto label span{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: rgba(114, 36, 145, 0.993);
    padding: .3rem 0rem;
}
.contacto textarea:focus,.contacto input:focus{
    border-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: 0 none;
}
form .contactoBoton{
    width: 35%;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'Hubballi', sans-serif;
    border: none;
    background-color: #CBB5F5;
    color: blueviolet;
}
form .contactoBoton:hover{
    color: lavender;
}







/*footer*/

.contact{
    background-color: #CBB5F5;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Hubballi', sans-serif;
}
.contactP{
    font-size: 21px;
    width: 400px;
    line-height: 28px;
    padding: 1em;
    margin: 1em 0px;
    margin-left: 90px;
}
.botonC{
    margin-top: 16px;
    font-weight: bold;
    font-size: 23px;
}
.botonC a{
    color: #9DF5DD;
}
.email{
    width: 400px;
    margin: 90px 20px;
}
.email a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}
.email span{
    color: #9DF5DD;
    font-size: 30px;
    padding: 5px;
}
.infoFooter{
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: 'Hubballi', sans-serif;
}
.infoFooter h2{
    text-transform: uppercase;
    font-weight: lighter;  
    font-size:27px;  
    color: blueviolet;
}
.infoFooter h3{
    text-transform: uppercase;
    font-weight: lighter;  
    font-size:27px;  
    color: blueviolet;
}
.containerLeft{
    width: 270px;
    margin-top: 50px;
}
.containerLeft p{
    font-size: 21px;
    line-height: 28px;
    margin-top: 20px;
}
.containerCenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.redesSociales a{
    text-decoration: none;
    color: blueviolet;
    font-size: 28px;
    width: 50px;
    height: 50px;
    background: #CBB5F5;
    border-radius: 50%;
    padding: 10px;
    margin: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,.2);
    transition: all .4s ease-in-out;
}
.redesSociales a:hover{
    transform: scale(1.2);
}
.logoFooter{ 
    padding-bottom: 20px;
}
.containerRight input{
    margin-top: 20px;
    height: 42px;
    width: 300px;
    font-size: 15px;
    padding: 17px;
    border: #CBB5F5 solid .1rem;
}
.containerRight button{
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #CBB5F5;
    color: blueviolet;
    border: none;
    padding: 11px 40px;
    font-size: 0.9rem;
}
.containerRight input:focus{
    border-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: 0 none;
}
.containerRight button:hover{
    color: lavender;
}
.containerRight{
    margin-top: 35px;
    width: 270px;
}
.derechos{
    font-family: 'Hubballi', sans-serif;
    background-color:lavender;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
}
.derechos a{
    text-decoration: none;
    list-style: none;
    color: black;
}
footer hr{
    height: 0.7px;
    border: none;
    background-color: blueviolet;
}


