* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Hubballi", sans-serif;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  line-height: 0; }
  body p {
    margin-block-start: 0;
    margin-block-end: 0; }
  body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 0;
    line-height: 0; }

header .containerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fdfdfd;
  width: 100%;
  height: 6.5rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 0rem 3.5rem;
  z-index: 1; }
  header .containerMenu .navLabel, header .containerMenu .navInput {
    display: none; }
  header .containerMenu .navInput:checked + .menu {
    background-color: lavender; }
  header .containerMenu .menu {
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    line-height: normal;
    padding-left: 0;
    list-style-type: none; }
    header .containerMenu .menu li {
      display: inline-block;
      list-style: none;
      z-index: 1;
      font-size: 1.3rem;
      margin: 2rem; }
      header .containerMenu .menu li a {
        text-decoration: none;
        color: black; }
        header .containerMenu .menu li a:hover {
          color: #CBB5F5; }
      header .containerMenu .menu li:hover .submenu {
        visibility: visible;
        opacity: 1; }
      header .containerMenu .menu li .submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        background-color: #fdfdfd;
        padding-top: 1.5rem;
        padding-left: 0;
        box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
        padding-inline-start: 0; }
        header .containerMenu .menu li .submenu .outline {
          padding-top: 1.5rem;
          border-top: solid #CBB5F5 2px; }
        header .containerMenu .menu li .submenu li {
          margin: 1.1rem; }
        header .containerMenu .menu li .submenu #liSub {
          line-height: normal; }

header h1 {
  background-color: lavender;
  margin: 6rem 0 0 0;
  padding: 1.3rem .625rem .7rem .625rem;
  text-align: center;
  text-transform: uppercase;
  color: #CBB5F5;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.35rem; }

footer {
  display: grid;
  grid-template-areas: "contact contact contact" "containerLeft containerCenter containerRight" "derechos derechos derechos";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; }
  footer .contact {
    grid-area: contact;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CBB5F5;
    color: white;
    height: 15rem;
    padding: 0rem 7.5rem; }
    footer .contact .contactP {
      grid-area: contact;
      width: 26.5rem; }
      footer .contact .contactP p {
        font-size: 1.5rem;
        line-height: 2.2rem; }
        footer .contact .contactP p a {
          color: #9DF5DD;
          font-weight: bold; }
    footer .contact .email {
      grid-area: contact; }
      footer .contact .email span {
        color: #9DF5DD;
        font-size: 1.875rem;
        padding: 0.313rem; }
      footer .contact .email a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem; }
  footer .containerLeft {
    background-color: lavender;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: containerLeft;
    row-gap: 1.5rem;
    padding: 0 1rem 0 5.8rem; }
    footer .containerLeft .tituloFooter {
      text-transform: uppercase;
      font-size: 2.1rem;
      color: blueviolet;
      font-weight: 400;
      margin-bottom: .8rem;
      grid-area: containerLeft; }
    footer .containerLeft p {
      grid-area: containerLeft;
      font-size: 1.4rem;
      line-height: 2rem; }
  footer .containerCenter {
    background-color: lavender;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: containerCenter;
    row-gap: 2rem;
    align-items: center;
    padding-right: 1rem; }
    footer .containerCenter .logoFooter {
      grid-area: containerCenter;
      animation-name: girar;
      animation-iteration-count: infinite;
      animation-duration: 98s; }

@keyframes girar {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
    footer .containerCenter .redesSociales {
      grid-area: containerCenter; }
      footer .containerCenter .redesSociales a {
        text-decoration: none;
        color: blueviolet;
        font-size: 1.75rem;
        background: #CBB5F5;
        border-radius: 50%;
        width: 3.125rem;
        height: 3.125rem;
        margin: 0rem .5rem;
        line-height: 3.125rem;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        transition: all .4s ease-in-out; }
        footer .containerCenter .redesSociales a:hover {
          transform: scale(1.2); }
  footer .containerRight {
    background-color: lavender;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: containerRight;
    row-gap: 1.5rem;
    padding: 0 5rem 0 4rem; }
    footer .containerRight .tituloFooter {
      text-transform: uppercase;
      font-size: 2.1rem;
      color: blueviolet;
      font-weight: 400;
      margin-bottom: .8rem;
      grid-area: containerRight; }
    footer .containerRight form {
      grid-area: containerRight;
      font-family: "Hubballi", sans-serif; }
      footer .containerRight form input {
        width: 100%;
        padding: 1rem;
        border: #CBB5F5 solid .1rem;
        font-size: 1.18rem;
        font-family: "Hubballi", sans-serif;
        line-height: normal; }
        footer .containerRight form input:focus {
          border-color: blueviolet;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          outline: 0 none; }
    footer .containerRight button {
      grid-area: containerRight;
      text-transform: uppercase;
      background-color: #CBB5F5;
      color: blueviolet;
      border: none;
      padding: 1.3rem;
      font-size: 1.4rem;
      width: 100%;
      font-family: "Hubballi", sans-serif;
      line-height: 0; }
      footer .containerRight button:hover {
        color: lavender; }
  footer .derechos {
    grid-area: derechos;
    background-color: lavender; }
    footer .derechos .linie {
      grid-area: derechos;
      border-top: 0.063rem solid blueviolet;
      height: 0.125rem;
      max-width: 70%;
      padding: 0;
      margin: 0 auto 0 auto; }
    footer .derechos p {
      grid-area: derechos;
      padding: 1.3rem;
      font-size: 1.25rem;
      text-align: center; }
      footer .derechos p a {
        text-decoration: none;
        list-style: none;
        color: black; }

.layoutBio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100vh; }

.layoutIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100vh; }

.bioIndex {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 4rem 0 5rem 8rem;
  column-gap: 6rem; }
  .bioIndex h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #cbbde2; }
  .bioIndex .bioTextIndex {
    font-size: 1.5rem;
    margin: 2.3rem 0 1.6rem 0;
    line-height: 2rem; }
  .bioIndex button {
    font-family: "Hubballi", sans-serif;
    background-color: #CBB5F5;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem; }
    .bioIndex button:hover {
      background-color: lavender; }
    .bioIndex button a {
      text-decoration: none;
      color: lavender; }
      .bioIndex button a:hover {
        color: blueviolet; }

.productosIndex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 4rem; }
  .productosIndex img {
    width: 28.5rem; }
  .productosIndex .productA, .productosIndex .productB, .productosIndex .productC {
    position: relative; }
  .productosIndex .productA button {
    position: absolute;
    top: 80%;
    left: 23%;
    font-family: "Hubballi", sans-serif;
    background-color: #CBB5F5;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem; }
  .productosIndex .productB button {
    position: absolute;
    top: 80%;
    left: 33%;
    font-family: "Hubballi", sans-serif;
    background-color: #CBB5F5;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem; }
  .productosIndex .productC button {
    position: absolute;
    top: 80%;
    left: 35%;
    font-family: "Hubballi", sans-serif;
    background-color: #CBB5F5;
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem; }
  .productosIndex button:hover {
    background-color: #c1a7f1; }
  .productosIndex button a {
    text-decoration: none;
    color: lavender; }

.portafolioIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2.5rem 4rem 2.5rem; }
  .portafolioIndex img {
    width: 17.5rem;
    display: inline-block;
    padding: 0.5rem; }
