/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hubballi', sans-serif;
}
/* layout -> Grid */
.layoutContacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
}

/*index*/
/*nav bar*/
/*propiedades del padre*/
.containerMenu{
    position: fixed;
    top: 0;
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 6.5rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 3.5rem;
}
/*propiedades del hijo*/
.barsMenu{
    display: none;
}
nav ul li{
    display: inline-block;    
    list-style: none;
    z-index: 1;
    font-size: 1.3rem; 
    margin: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: black; 
}
.menu a:hover{
    color: #CBB5F5;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    background-color: rgb(253, 253, 253);
    border-top: #CBB5F5 solid;
    margin-top: .15rem;
}
.submenu li{
    margin: 1rem;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
h1{
    background-color: lavender;
    margin: 6rem 0 0 0;
    padding: 1.4rem .625rem 1rem .625rem;
    text-align: center;
    text-transform: uppercase;
    color: #CBB5F5;
    font-weight: lighter;
}

/*bio index*/
/*propiedades del padre*/




/*contacto*/
/*propiedades del padre*/
.mainContacto{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/mandalaA.png') center center / cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*propiedades del hijo*/
.contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    font-size: 2rem;
    width: 70%;
}
.contacto input, .contacto textarea, .contactoBoton{
    padding: 1rem;
    font-size: 1.1rem;
    border: #CBB5F5 solid .1rem;
}
.contacto label span{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: rgba(114, 36, 145, 0.993);
    padding: .3rem 0rem;
}
.contacto textarea:focus,.contacto input:focus{
    border-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: 0 none;
}
form .contactoBoton{
    width: 35%;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'Hubballi', sans-serif;
    border: none;
    background-color: #CBB5F5;
    color: blueviolet;
}
form .contactoBoton:hover{
    color: lavender;
}


/*footer*/
/*propiedades del padre*/
footer{
    display: grid;
    grid-template-areas: "contact contact contact"
                         "containerLeft containerCenter containerRight"
                         "derechos derechos derechos"; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
/*propiedades de las areas*/
.contact{
    grid-area: contact;
    background-color: #CBB5F5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    padding: 0rem 7.5rem;
}
.containerLeft{
    grid-area: containerLeft;
    background-color: lavender;
    height: 19rem;
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 5rem;
}
.containerCenter{
    grid-area: containerCenter;
    background-color: lavender;
    height: 19rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerRight{
    grid-area: containerRight;
    background-color: lavender;
    height: 19rem;
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem 0 4rem;
}
.derechos{
    grid-area: derechos;
    background-color: lavender;
}
.contactP{
    font-size: 1.313rem;
    width: 25rem;
    line-height: 1.813rem;
}
.botonC{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.438rem;
}
.botonC a{
    color: #9DF5DD;
}
.email a{
    text-decoration: none;
    color: white;
    font-size: 1.313rem;
}
.email span{
    color: #9DF5DD;
    font-size: 1.875rem;
    padding: 0.313rem;
}
footer h2, h3{
    text-transform: uppercase;
    font-weight: lighter;  
    font-size: 1.688rem;  
    color: blueviolet;
}
.containerLeft p{
    font-size: 1.313rem;
    line-height: 1.75rem;
}
.redesSociales a{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.75rem;
    background: #CBB5F5;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0rem .5rem;
    line-height: 3.125rem;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,.05);
    transition: all .4s ease-in-out;
}
.redesSociales a:hover{
transform: scale(1.2);
}
.containerRight input{
    font-size: 0.938rem;
    height: 2.75rem;
    width: 100%;
    padding: 1rem;
    border: #CBB5F5 solid .1rem;
}
.containerRight input:focus{
    border-color: blueviolet;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: 0 none;
}
.containerRight button{
    text-transform: uppercase;
    background-color: #CBB5F5;
    color: blueviolet;
    border: none;
    padding: 0.688rem 2.5rem;
    font-size: .9rem;
    width: 100%;
}
.containerRight button:hover{
    color: lavender;
}
.linie{
    border-top: 0.063rem solid blueviolet;
    height: 0.125rem;
    max-width: 70%;
    padding: 0;
    margin: 0 auto 0 auto;
}
.derechos p{
    padding: 1.3rem;
    font-size: large;
    text-align: center;
}
.derechos a{
    text-decoration: none;
    list-style: none;
    color: black;
}



/*media queries*/

@media only screen and (min-width: 320px) and (max-width: 767px){
    nav ul{
        display: none;
    }
    .barsMenu{
        display: inline-block;
        font-size: 2rem;
        border: none;
        background: none;
        color: #CBB5F5;
        text-align: right;  
    }
    h1{
        font-size: 1.8rem;
        padding: 1.2rem .625rem .7rem .625rem;
    }
    .contacto{
        font-size: 1.6rem;
    }
    .contacto input, .contacto textarea{
        font-size: .8rem;
    }
    .contacto .contactoBoton{
        font-size: 1.3rem;
        width: 100%;
    }
    .mainContacto{
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/mandalaA.png') center center / cover no-repeat;
        height: 100vh;
        width: 100%;
    }
    footer{
        display: grid;
        grid-template-areas: "contact"
                             "containerLeft"
                             "containerCenter"
                             "containerRight"
                             "derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    .contact{
        padding: 2rem;
        justify-content: center;
    }
    .botonC{
        font-size: 1.35rem;
    }
    .contactP{
        text-align: center;
        line-height: 2.1rem;
    }
    .email{
        display: none; 
    }
    .containerLeft{
        padding: 0 2rem;
        text-align: center;
        height: 12rem;
    }
    .containerLeft p{
        line-height: 2.5rem;
    }
    .containerCenter{
        padding: 0 2rem;
        height: 17rem;
    }
    .containerRight{
        padding: 0 2rem;
        text-align: center;
        height: 14rem;
    }
    .containerRight button{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .containerMenu{
        padding: 0 1.5rem;
    }
    nav ul li{
        font-size: 1.3rem; 
        margin: .6rem;
    }
    .shoppingBag{
        display: none;
    }
    .contacto{
        font-size: 1.8rem;
    }
    .contacto input, .contacto textarea{
        font-size: .9rem;
    }
    .contacto .contactoBoton{
        font-size: 1.5rem;
        width: 100%;
    }
    .mainContacto{
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/mandalaA.png') center center / cover no-repeat;
        height: 100vh;
        width: 100%;
    }
    footer{
        display: grid;
        grid-template-areas: "contact"
                             "containerLeft"
                             "containerCenter"
                             "containerRight"
                             "derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    .contact{
        padding: 2rem;
        justify-content: center;
    }
    .botonC{
        font-size: 1.35rem;
    }
    .contactP{
        text-align: center;
        line-height: 2.1rem;
    }
    .email{
        display: none; 
    }
    .containerLeft{
        padding: 0 2rem;
        text-align: center;
        height: 12rem;
    }
    .containerLeft p{
        line-height: 2.5rem;
    }
    .containerCenter{
        padding: 0 2rem;
        height: 17rem;
    }
    .containerRight{
        padding: 0 2rem;
        text-align: center;
        height: 14rem;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1199px){
    nav ul li{
        font-size: 1.3rem; 
        margin: 1rem;
    }
    .contacto .contactoBoton{
        font-size: 1.4rem;
        width: 40%;
    }
    .contact{
        padding: 0 2.5rem;
    }
    .containerLeft{
        padding: 0 2.5rem;
    }
    .containerRight{
        padding: 0 2.5rem;
    }
}