@import "utilities/maps";
@import "utilities/variables";
//botones del index
%btn-index{
    font-family: $font-principal;
    background-color: map-get($map: $colores, $key: primario );
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: $t-transform;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem;
}

//productos de tienda, bolsas, stickers, tazas
%contenedor-producto{
    width: 90%;
    transition: all .4s ease-in-out;
            &:hover{
                transform: scale(1.01);
            }
}
%imagen-producto{
    width: 100%;
    border-radius: .25rem;
}
%titulo-producto{
    font-weight: 600;
    font-size: 1.9rem;
    margin: 1.5rem 0 .8rem 0;
}
%parrafo-producto{
    width: 22.5rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: .5rem 0 0 0;
}
%precio{
    font-size: 1.6rem;
    margin: 1.3rem 0 1.6rem 0;
}
%boton-producto{
    width: $width-completo;
    font-size: $s-text-medium;
    font-family: 'Hubballi', sans-serif;
    border: none;
    cursor: pointer;
    background-color: #CBB5F5;
    color: blueviolet;
    padding: .7rem;
    border-radius: .25rem;
    &:hover{
        color: lavender;
    }
}

//contacto
%contacto{
    padding: 1rem;
    font-size: 1.1rem;
    border: #CBB5F5 solid .1rem;
}

