@import "utilities/maps";
@import "utilities/variables";

%btn-index{
    font-family: $font-principal;
    background-color: map-get($map: $colores, $key: primario );
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: $t-transform;
    border: none;
    border-radius: 0.20rem;
    padding: 1.5rem;
}