
$colores:(
    "primario" : #c7aef5, "h1" : #b99def, "secund" : #cbbde2, "sombra" : #bda1f0, "adds" : #9DF5DD, "lavanda" : rgb(228, 228, 247), "viole" : rgb(135, 43, 221), "span" : rgba(114, 36, 145, 0.993), "span-dos" : rgba(255, 255, 255, 0.8)
);

//#b99def #CBB5F5