@import "variables";
@import "maps";


@mixin grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;    
}
@mixin flex($x, $y, $wrap){
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}

@mixin cajaFooter {
    background-color: lavender;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin tFooter {
    text-transform: uppercase;  
    font-size: $s-subtitle;  
    color: blueviolet; 
    font-weight: 400;
    margin-bottom: .8rem; 
}