
//$colores: #CBB5F5, #cbbde2, #c1a7f1, #9DF5DD;


$color-nav: rgb(253, 253, 253);
$width-completo: 100%;

//tipografia

$font-principal: 'Hubballi', sans-serif;
$t-transform: uppercase;
$s-title: 2.4rem;
$s-subtitle: 2.1rem;
$s-h2: 2.9rem;

$s-text-large: 1.5rem;
$s-text-medium: 1.8rem;
$s-text-small: 2rem;

$l-height: 2rem;

