@import "../utilities/mixin";
@import "../utilities/variables";

// layout -> Grid
.layoutBio{
    @include grid;
    .mainBio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        align-items: center;
        .textBio{
            padding: 0 4.5rem 0 4.5rem;
            h2{
                font-size: 2.5rem;
                padding: 0 0 2.5rem 0;
                color: map-get($map: $colores, $key: primario);
            }
            p{
                font-size: $s-text-large;
                line-height: 2rem;
                a{
                    color: map-get($map: $colores, $key: primario);
                }
            }
        }
        
    }    
}


