@import "../utilities/maps";
@import "../utilities/variables";
@import "../utilities/extend";
@import "../utilities/mixin";
// layout -> Grid
.layoutBolsas{
    @include grid;
    .mainBolsas{
        @include grid-productos;
        padding: 0 2rem 0 2rem;
        .contenedorProducto{
            @extend %contenedor-producto;
            .imagenProducto{
                @extend %imagen-producto;
            }
            .tituloProducto{
                @extend %titulo-producto;
                font-size: $s-text-medium;
            }
            .parrafoProducto{
                @extend %parrafo-producto;
                font-size: 1.4rem;
                padding: 0 3rem 0 .2rem;
            }
            .precio{
                @extend %precio;
                font-size: $s-text-large;
            }            
            .botonProducto{
                @extend %boton-producto;
            }                        
        }
    } 
    @media only screen and (max-width: 48rem){
        .mainBolsas{
            padding: 0 2.8rem 0 2.8rem;
        }
    } 
    @media only screen and (max-width: 59rem){
        .mainBolsas{
            padding: 0 6rem 0 6rem;
            .contenedorProducto{
                .tituloProducto{
                    font-size: $s-subtitle;
                 }
                .parrafoProducto{
                    font-size: 1.7rem;
                }
                .precio{
                    font-size: 1.7rem;
                } 
            }
        }
    }   
}
