@import "../utilities/maps";
@import "../utilities/variables";
@import "../utilities/extend";
@import "../utilities/mixin";

// layout -> Grid
.layoutContacto{
    @include grid;
    .mainContacto{
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)), url('../img/mandalaA.png') center center / cover no-repeat;
        height: 100vh;
        width: $width-completo;
        @include flex (center, center, wrap);
        .contacto{
            display: flex;
            flex-direction: column;
            gap: 1rem;    
            font-size: 2rem;
            width: 70%;
            line-height: normal;
            label{
                span{
                    background-color: map-get($map: $colores, $key: span-dos);
                    border-radius: 1rem;
                    color: map-get($map: $colores, $key: span);
                    padding: .3rem 0rem;
                }
            }
            input{
                @extend %contacto;
                &:focus{
                    border-color: blueviolet;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    outline: 0 none;
                }
            }
            textarea{
                @extend %contacto;
                &:focus{
                    border-color: blueviolet;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    outline: 0 none;
                }
            }
            .contactoBoton{
                @include btn-contacto;
            }
        }
    }
    @media only screen and (max-width: 30rem){
        .mainContacto{
            .contacto{
                font-size: 2.3rem;
            }
        }
    }
    @media only screen and (max-width: 63rem){
        .mainContacto{
            .contacto{
                .contactoBoton{
                    width: 100%;
                }
            }
        }
    }
}