@import "../utilities/mixin";
@import "../utilities/variables";
@import "../utilities/maps";
@import "../utilities/extend";

// layout -> Grid
.layoutIndex {
  @include grid;
  //bio index
  .bioIndex {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 4rem 0 5rem 8rem;
    column-gap: 6rem;
    div {
      h2 {
        font-size: $s-h2;
        color: map-get($map: $colores, $key: primario);
      }
      .bioTextIndex {
        font-size: $s-text-large;
        margin: 2.3rem 0 1.6rem 0;
        line-height: 2rem;
      }
      button {
        @extend %btn-index;
        a {
          text-decoration: none;
          color: map-get($map: $colores, $key: lavanda);
          &:hover {
            color: map-get($map: $colores, $key: viole);
          }
        }
      }
    }
  }
  //productos index
  .productosIndex {
    @include flex(space-evenly, center, wrap);
    margin-bottom: 4rem;
    img {
      width: 28.5rem;
    }
    .productA {
      position: relative;
      button {
        position: absolute;
        top: 80%;
        left: 23%;
        @extend %btn-index;
        &:hover {
          background-color: map-get($map: $colores, $key: sombra);
        }
      }
    }
    .productB {
      position: relative;
      button {
        position: absolute;
        top: 80%;
        left: 33%;
        @extend %btn-index;
        &:hover {
          background-color: map-get($map: $colores, $key: sombra);
        }
      }
    }
    .productC {
      position: relative;
      button {
        position: absolute;
        top: 80%;
        left: 35%;
        @extend %btn-index;
        &:hover {
          background-color: map-get($map: $colores, $key: sombra);
        }
      }
    }
    button {
      a {
        text-decoration: none;
        color: map-get($map: $colores, $key: lavanda);
      }
    }
  }
  //portafolio index
  .portafolioIndex {
    @include flex(center, center, wrap);
    margin: 0 2.5rem 4rem 2.5rem;
    img {
      width: 17.5rem;
      display: inline-block;
      padding: 0.5rem;
    }
  }
}
