@import "../utilities/variables";
@import "../utilities/mixin";
@import "../utilities/maps";
@import "../utilities/extend";


header{
    .containerMenu{
        @include flex (space-between, center, nowrap);
        position: fixed;
        top: 0;
        background-color: $color-nav;
        width: $width-completo;
        height: 6.5rem;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
        padding: 0rem 3.5rem;
        z-index: 1;
        input{
            display: none;
        }
        .fa-bars{
            display: none;
        }
        .fa-times{
            display: none;
        }
        .menu{
            margin-bottom: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            line-height: normal;
            padding-left: 0;
            list-style-type: none;
            li{
                display: inline-block;
                list-style: none;
                z-index: 1;
                font-size: 1.3rem;
                margin: 2rem;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: map-get($map: $colores, $key: primario );
                    }
                }
                &:hover{
                    > .submenu{
                    visibility: visible;
                    opacity: 1;
                    }
                }
                .submenu{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    visibility: hidden;
                    opacity: 0;
                    transition: .5s;
                    background-color: $color-nav;
                    padding-top: 1.5rem;
                    padding-left: 0;
                    box-shadow: 0 1.5px 0 0 rgba(0,0,0,.1);
                    padding-inline-start: 0;
                    .outline{
                        padding-top: 1.5rem;
                        border-top: solid #CBB5F5 2px;
                    }
                    li{
                        margin: 1.1rem;
                    }
                    #liSub{
                        line-height: normal;
                    }
                }
            }
        }  
    }
    h1{
        background-color: map-get($map: $colores, $key: lavanda );;
        margin-top: 6rem;
        padding: 1.3rem .625rem .7rem .625rem;
        text-align: center;
        text-transform: $t-transform;
        color: map-get($map: $colores, $key: h1 );
        font-weight: 450;
        font-size: $s-title;
        line-height: 2.35rem;
    }
    @media only screen and (max-width: 56.99rem){
        .containerMenu{
            position: relative;
            position: fixed;
            z-index: 1;
            display: flex;
            justify-content: right;
            input[type="checkbox"]{
                position: absolute;
                box-sizing: border-box;
                left: 0;
                margin-left: 4.8rem;
                width: 48px;
                height: 48px;
                opacity: 0;              
            }
            input{
                display: block;
                &:checked {
                    ~ {
                        ul {
                            position: fixed;
                            display: block;
                            top: 5.625rem;
                            background-color: $color-nav;
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                            right: 0;
                            left: 0;
                            padding: 0rem;
                            li{
                                margin: 0rem;
                                display: block;
                                border-bottom: 0.1rem solid #CBB5F5;
                                padding: 1.3rem 1.3rem 1.3rem 4.6rem;
                            }
                            .submenu{
                                background-color: transparent;
                                box-shadow: none;
                                padding: 0;
                                margin: 0;
                                .outline{
                                    padding-top: 1.5rem;
                                    border: none;
                                }
                                li{
                                    padding: 1.5rem 0 1rem 0;
                                    margin: 0rem;
                                    border-top: 0.1rem solid #CBB5F5;
                                    border-bottom: none;
                                }
                            }
                        }
                        .fa-bars {
                            display: none;
                        }
                    }
                }
                &:not(:checked) {
                    ~ {
                        .fa-times {
                            display: none;
                        }
                    }
                }  
            }
            .fa-bars{
                display: block;
                position: absolute;
                box-sizing: border-box;
                left: 0;
                padding-left: 5rem;
                width: 48px;
                height: 48px;
                font-size: 48px;
                pointer-events: none;
                color: map-get($map: $colores, $key: primario );
              
            }
            .fa-times{
                display: block;
                position: absolute;
                box-sizing: border-box;
                left: 0;
                padding-left: 5rem;
                width: 48px;
                height: 48px;
                font-size: 48px;
                pointer-events: none;
                color: map-get($map: $colores, $key: primario );
            }
            .menu{
                display: none;
                >li {
                    &:hover {
                        >.submenu {
                            position: relative;                            
                        }
                    }
                }
            }

        }
        
    }
    @media only screen and (min-width: 57rem) and (max-width: 74.99rem){
        .containerMenu{
            flex-direction: column;
            height: auto;
            .menu{
                li{
                    .submenu{
                        padding-top: .85rem;
                    }
                }
            }
        }
        h1{
            margin-top: 12.3rem;
        }
    }

}


