@import "typo";
body{
    font-family: $font-principal;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    line-height: 0;
    //reset de bootstrap
    p{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 0;
        line-height: 0;
    }
}
